:root {
  --dark: #111;
  --gray: #f2f2f2;
  --accent: #222;
  --text: #333;
  --primary: #7aa8ff;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: "Barlow", sans-serif;
  background: #fff;
  color: var(--accent);
  line-height: 1.6;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828de;
  color: #fff;
  padding: 1rem 2rem;
}
.header .logo {
  font-weight: 800;
  font-size: 1.2rem;
}
.header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}
.header nav a:hover {
  color: var(--primary);
}

.features {
  background: #eee;
  padding: 2rem 1rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 1rem;
  text-align: center;
}

.feature {
  background: #f8f8f8;
  border-radius: 8px;
  padding: 1.5rem;
}

.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.feature p {
  font-size: 0.9rem;
  color: #555;
}


/* SOBRE MI */
.sobre-mi { padding: 2rem; height: 80%; align-content: center; }
.sobre-mi h2 { margin-bottom: 1rem; }
.sobre-mi-flex{
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}
.sobre-mi-contenido{
width: 800px;
}
.card {
  padding: 1rem;
  border-radius: 8px;
  background: var(--gray);
}
.card.dark {
  background: #222;
  color: #fff;
}
.card.light {
  background: #eee;
}

.container-imgs{
  display: flex;
  width: 600px;
  height: 430px;
}
.container-imgs img{
  width:0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
.container-imgs img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/* PROYECTOS */
.proyectos { 
  padding: 2rem; 
  background: var(--accent);
}
.proyectos h2 { margin-bottom: 1rem; }
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 1rem;
}
.proyecto-card {
  background: var(--gray);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}
.proyecto-card img {
  max-width: 100%;
  border-radius: 6px;
}

.card .thumb {
  width: 300px;
  margin: 0 auto;
}

.card .thumb img {
  width: 100%;
  height: auto;
  display: block;
}


/* PORTAFOLIO HERO */
.portafolio {
  padding: 3rem 2rem;
  background: url("img/bg-space.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
}
.portafolio h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* FOOTER */
.footer {
  background: var(--accent);
  color: #bbb;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

